In [0]:
import pandas as pd
import tensorflow as tf
import numpy as np
import logging
logger = tf.get_logger()
logger.setLevel(logging.ERROR)

In [405]:
df = pd.read_csv('./UCI_data.csv')
df.pop('date')
df.head()

          T1       RH_1         T2  ...        rv1        rv2  TARGET_energy
0  22.200000  39.500000  20.566667  ...  24.061869  24.061869             60
1  20.356667  37.126667  17.566667  ...   4.622052   4.622052             50
2  20.926667  38.790000  21.100000  ...   5.635898   5.635898             80
3  18.290000  38.900000  17.290000  ...  49.216445  49.216445             40
4  22.290000  42.333333  21.600000  ...  47.617579  47.617579             60

[5 rows x 27 columns]

In [406]:
df.dtypes

T1               float64
RH_1             float64
T2               float64
RH_2             float64
T3               float64
RH_3             float64
T4               float64
RH_4             float64
T5               float64
RH_5             float64
T6               float64
RH_6             float64
T7               float64
RH_7             float64
T8               float64
RH_8             float64
T9               float64
RH_9             float64
T_out            float64
Press_mm_hg      float64
RH_out           float64
Windspeed        float64
Visibility       float64
Tdewpoint        float64
rv1              float64
rv2              float64
TARGET_energy      int64
dtype: object

In [407]:
df.isnull().sum()

T1               0
RH_1             0
T2               0
RH_2             0
T3               0
RH_3             0
T4               0
RH_4             0
T5               0
RH_5             0
T6               0
RH_6             0
T7               0
RH_7             0
T8               0
RH_8             0
T9               0
RH_9             0
T_out            0
Press_mm_hg      0
RH_out           0
Windspeed        0
Visibility       0
Tdewpoint        0
rv1              0
rv2              0
TARGET_energy    0
dtype: int64

In [408]:
from sklearn import preprocessing

partial_data = df[1:10001]

x = partial_data.values
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
complete_normalized_data = pd.DataFrame(x_scaled)

train_data= complete_normalized_data[1:4001]
test_data = complete_normalized_data[4002:8002]

print(f'Training data: {len(train_data)} Test data: {len(test_data)}')

Training data: 4000 Test data: 4000

In [409]:
target = train_data.pop(train_data.columns[len(train_data.columns)-1])
dataset = tf.data.Dataset.from_tensor_slices((train_data.values, target.values))
train_data

            0         1         2   ...        23        24        25
1     0.436818  0.356687  0.363460  ...  0.288973  0.112652  0.112652
2     0.158395  0.360082  0.086504  ...  0.323954  0.984688  0.984688
3     0.580781  0.466049  0.399806  ...  0.365019  0.952695  0.952695
4     0.527983  0.231379  0.266053  ...  0.103422  0.328664  0.328664
5     0.465681  0.335082  0.222922  ...  0.260076  0.671153  0.671153
...        ...       ...       ...  ...       ...       ...       ...
3996  0.116156  0.567901  0.072692  ...  0.570342  0.882427  0.882427
3997  0.475185  0.561728  0.327114  ...  0.663118  0.333483  0.333483
3998  0.866948  0.356687  0.615459  ...  0.793916  0.852605  0.852605
3999  0.577614  0.573045  0.322268  ...  0.623574  0.790391  0.790391
4000  0.729673  0.441255  0.466267  ...  0.716350  0.686078  0.686078

[4000 rows x 26 columns]

In [410]:
for f, t in dataset.take(5):
  print ('Features: {}, Target: {}'.format(f, t))

Features: [0.43681802 0.35668724 0.36346014 0.41650854 0.36556996 0.34118986
 0.53153153 0.30587566 0.26469183 0.24417047 0.35359735 0.36703741
 0.55607917 0.15484634 0.49374428 0.09775146 0.46826223 0.39977775
 0.3022508  0.91085271 0.62913907 0.42857143 0.33333333 0.28897338
 0.1126522  0.1126522 ], Target: 0.06422018348623854
Features: [0.15839493 0.3600823  0.08650351 0.5227704  0.09887006 0.48927178
 0.09009009 0.47503201 0.0735786  0.26803637 0.31155926 0.94989889
 0.07634307 0.36843972 0.13487946 0.41412061 0.09469303 0.41811363
 0.26848875 0.72790698 0.7615894  0.39285714 0.61538462 0.32395437
 0.98468809 0.98468809], Target: 0.027522935779816515
Features: [0.58078141 0.46604938 0.39980615 0.55616698 0.45419298 0.68611834
 0.36036036 0.56508749 0.3784042  0.314226   0.25120561 0.92204247
 0.43449576 0.59574468 0.62191028 0.56608308 0.41623309 0.60688985
 0.26366559 0.22325581 0.8410596  0.52380952 0.84615385 0.36501901
 0.95269518 0.95269518], Target: 0.045871559633027525
Features: [0.5279831  0.2313786  0.26605282 0.41290323 0.33482885 0.28803641
 0.45045045 0.3030303  0.35387801 0.1269646  0.3087827  0.46208291
 0.600377   0.10862884 0.57613671 0.10516077 0.35379813 0.45978608
 0.30975348 0.96666667 0.36865342 0.16666667 0.6        0.10342205
 0.32866386 0.32866386], Target: 0.03669724770642202
Features: [0.4656811  0.3350823  0.22292222 0.50939279 0.30658026 0.49918726
 0.38648649 0.50917627 0.40696502 0.61769043 0.1977203  0.85473542
 0.37700283 0.3927305  0.60268538 0.51150017 0.37565036 0.49687457
 0.17416935 0.27209302 0.8785872  0.13095238 0.34102564 0.26007605
 0.67115267 0.67115267], Target: 0.045871559633027525

In [0]:
train_dataset = dataset.shuffle(len(train_data)).batch(1)

In [0]:
model = tf.keras.Sequential([
  tf.keras.layers.Dense(10, activation='elu'),
  tf.keras.layers.Dense(10, activation='elu'),
  tf.keras.layers.Dense(1)
])

model.compile(optimizer='adam',loss=tf.keras.losses.MeanSquaredError())

In [413]:
model.fit(train_dataset, epochs=5)

Epoch 1/5
4000/4000 [==============================] - 10s 3ms/step - loss: 0.0153
Epoch 2/5
4000/4000 [==============================] - 10s 3ms/step - loss: 0.0100
Epoch 3/5
4000/4000 [==============================] - 10s 3ms/step - loss: 0.0098
Epoch 4/5
4000/4000 [==============================] - 10s 3ms/step - loss: 0.0095
Epoch 5/5
4000/4000 [==============================] - 11s 3ms/step - loss: 0.0093

In [414]:
test_target = test_data.pop(test_data.columns[len(test_data.columns)-1])
test_data

            0         1         2   ...        23        24        25
4002  0.564238  0.372119  0.711655  ...  0.486692  0.791449  0.791449
4003  0.538543  0.444805  0.407075  ...  0.437262  0.749149  0.749149
4004  0.521647  0.692078  0.363460  ...  0.565779  0.879697  0.879697
4005  0.824710  0.619033  0.486310  ...  0.935361  0.522537  0.522537
4006  0.835269  0.643724  0.797722  ...  0.876046  0.241156  0.241156
...        ...       ...       ...  ...       ...       ...       ...
7997  0.465681  0.293107  0.187000  ...  0.406084  0.870585  0.870585
7998  0.455121  0.517490  0.302399  ...  0.590875  0.154674  0.154674
7999  0.602957  0.312654  0.420887  ...  0.335361  0.041165  0.041165
8000  0.538543  0.252984  0.363460  ...  0.459316  0.495892  0.495892
8001  0.866948  0.379527  0.477344  ...  0.613688  0.481053  0.481053

[4000 rows x 26 columns]

In [415]:
model.predict(test_data)

array([[0.09429161],
       [0.12219428],
       [0.13870357],
       ...,
       [0.11801112],
       [0.11186089],
       [0.02707902]], dtype=float32)